---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: backends.ainetworking.prototype.x-k8s.io
spec:
  group: ainetworking.prototype.x-k8s.io
  names:
    kind: Backend
    listKind: BackendList
    plural: backends
    singular: backend
  scope: Namespaced
  versions:
  - name: v0alpha0
    schema:
      openAPIV3Schema:
        description: Backend is the Schema for the backends API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of Backend.
            properties:
              destination:
                description: destination defines the backend destination to route
                  traffic to.
                properties:
                  fqdn:
                    description: |-
                      FQDNBackend describes a backend that exists outside of the cluster.
                      Hostnames must not be cluster.local domains or otherwise refer to
                      Kubernetes services within a cluster. Implementations must report
                      violations of this requirement in status.
                    properties:
                      hostname:
                        description: 'Hostname of the backend service. Examples: "api.example.com"'
                        type: string
                    required:
                    - hostname
                    type: object
                  ports:
                    items:
                      properties:
                        number:
                          description: Number defines the port number of the backend.
                          format: int32
                          maximum: 65535
                          minimum: 1
                          type: integer
                        protocol:
                          description: Protocol defines the protocol of the backend.
                          enum:
                          - HTTP
                          - HTTP2
                          - TCP
                          - MCP
                          maxLength: 256
                          type: string
                        protocolOptions:
                          properties:
                            mcp:
                              properties:
                                path:
                                  default: /mcp
                                  description: URL path for MCP traffic. Default is
                                    /mcp.
                                  type: string
                                version:
                                  description: |-
                                    MCP protocol version. MUST be a valid MCP version string
                                    per the project's strategy: https://modelcontextprotocol.io/specification/versioning
                                  maxLength: 256
                                  type: string
                              type: object
                          type: object
                          x-kubernetes-validations:
                          - message: exactly one of the fields in [mcp] must be set
                            rule: '[has(self.mcp)].filter(x,x==true).size() == 1'
                        tls:
                          description: |-
                            TLS defines the TLS configuration that a client should use when talking to the backend.
                            top level with per-port overrides?
                          properties:
                            caBundleRef:
                              description: |-
                                CaBundleRef defines the reference to the CA bundle for validating the backend's
                                certificate.
                                Defaults to system CAs if not specified.
                              items:
                                description: |-
                                  ObjectReference identifies an API object including its namespace.

                                  The API object must be valid in the cluster; the Group and Kind must
                                  be registered in the cluster for this reference to be valid.

                                  References to objects with invalid Group and Kind are not valid, and must
                                  be rejected by the implementation, with appropriate Conditions set
                                  on the containing object.
                                properties:
                                  group:
                                    description: |-
                                      Group is the group of the referent. For example, "gateway.networking.k8s.io".
                                      When set to the empty string, core API group is inferred.
                                    maxLength: 253
                                    pattern: ^$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                                    type: string
                                  kind:
                                    description: Kind is kind of the referent. For
                                      example "ConfigMap" or "Service".
                                    maxLength: 63
                                    minLength: 1
                                    pattern: ^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$
                                    type: string
                                  name:
                                    description: Name is the name of the referent.
                                    maxLength: 253
                                    minLength: 1
                                    type: string
                                  namespace:
                                    description: |-
                                      Namespace is the namespace of the referenced object. When unspecified, the local
                                      namespace is inferred.

                                      Note that when a namespace different than the local namespace is specified,
                                      a ReferenceGrant object is required in the referent namespace to allow that
                                      namespace's owner to accept the reference. See the ReferenceGrant
                                      documentation for details.

                                      Support: Core
                                    maxLength: 63
                                    minLength: 1
                                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                                    type: string
                                required:
                                - group
                                - kind
                                - name
                                type: object
                              type: array
                            clientCertificateRef:
                              description: |-
                                ClientCertificateRef defines the reference to the client certificate for mutual
                                TLS. Only used if mode is MUTUAL.
                              properties:
                                group:
                                  default: ""
                                  description: |-
                                    Group is the group of the referent. For example, "gateway.networking.k8s.io".
                                    When unspecified or empty string, core API group is inferred.
                                  maxLength: 253
                                  pattern: ^$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                                  type: string
                                kind:
                                  default: Secret
                                  description: Kind is kind of the referent. For example
                                    "Secret".
                                  maxLength: 63
                                  minLength: 1
                                  pattern: ^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$
                                  type: string
                                name:
                                  description: Name is the name of the referent.
                                  maxLength: 253
                                  minLength: 1
                                  type: string
                                namespace:
                                  description: |-
                                    Namespace is the namespace of the referenced object. When unspecified, the local
                                    namespace is inferred.

                                    Note that when a namespace different than the local namespace is specified,
                                    a ReferenceGrant object is required in the referent namespace to allow that
                                    namespace's owner to accept the reference. See the ReferenceGrant
                                    documentation for details.

                                    Support: Core
                                  maxLength: 63
                                  minLength: 1
                                  pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                                  type: string
                              required:
                              - name
                              type: object
                            insecureSkipVerify:
                              type: boolean
                            mode:
                              description: Mode defines the TLS mode for the backend.
                              enum:
                              - Simple
                              - Mutual
                              - None
                              type: string
                            sni:
                              description: SNI defines the server name indication
                                to present to the upstream backend.
                              type: string
                            subjectAltNames:
                              items:
                                type: string
                              type: array
                          required:
                          - mode
                          type: object
                      required:
                      - number
                      - protocol
                      type: object
                    minItems: 1
                    type: array
                  type:
                    description: BackendType defines the type of the Backend destination.
                    enum:
                    - Fqdn
                    - Ip
                    - KubernetesService
                    type: string
                required:
                - ports
                - type
                type: object
                x-kubernetes-validations:
                - message: exactly one of the fields in [fqdn service ip] must be
                    set
                  rule: '[has(self.fqdn),has(self.service),has(self.ip)].filter(x,x==true).size()
                    == 1'
              extensions:
                description: extensions defines optional extension processors that
                  can be applied to this backend.
                items:
                  properties:
                    name:
                      type: string
                    rawConfig:
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                    type:
                      type: string
                  required:
                  - name
                  - type
                  type: object
                type: array
            required:
            - destination
            type: object
          status:
            description: status defines the observed state of Backend.
            properties:
              controllers:
                description: Controllers is a list of controllers that are responsible
                  for managing the InferencePoolImport.
                items:
                  properties:
                    conditions:
                      description: |-
                        For Kubernetes API conventions, see:
                        https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties
                        conditions represent the current state of the Backend resource.
                        Each condition has a unique type and reflects the status of a specific aspect of the resource.

                        Standard condition types include:
                        - "Available": the resource is fully functional
                        - "Progressing": the resource is being created or updated
                        - "Degraded": the resource failed to reach or maintain its desired state

                        The status of each condition is one of True, False, or Unknown.
                      items:
                        description: Condition contains details for one aspect of
                          the current state of this API Resource.
                        properties:
                          lastTransitionTime:
                            description: |-
                              lastTransitionTime is the last time the condition transitioned from one status to another.
                              This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                            format: date-time
                            type: string
                          message:
                            description: |-
                              message is a human readable message indicating details about the transition.
                              This may be an empty string.
                            maxLength: 32768
                            type: string
                          observedGeneration:
                            description: |-
                              observedGeneration represents the .metadata.generation that the condition was set based upon.
                              For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                              with respect to the current state of the instance.
                            format: int64
                            minimum: 0
                            type: integer
                          reason:
                            description: |-
                              reason contains a programmatic identifier indicating the reason for the condition's last transition.
                              Producers of specific condition types may define expected values and meanings for this field,
                              and whether the values are considered a guaranteed API.
                              The value should be a CamelCase string.
                              This field may not be empty.
                            maxLength: 1024
                            minLength: 1
                            pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                            type: string
                          status:
                            description: status of the condition, one of True, False,
                              Unknown.
                            enum:
                            - "True"
                            - "False"
                            - Unknown
                            type: string
                          type:
                            description: type of condition in CamelCase or in foo.example.com/CamelCase.
                            maxLength: 316
                            pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                            type: string
                        required:
                        - lastTransitionTime
                        - message
                        - reason
                        - status
                        - type
                        type: object
                      type: array
                      x-kubernetes-list-map-keys:
                      - type
                      x-kubernetes-list-type: map
                    name:
                      description: |-
                        Name is a domain/path string that indicates the name of the controller that manages the
                        InferencePoolImport. Name corresponds to the GatewayClass controllerName field when the
                        controller will manage parents of type "Gateway". Otherwise, the name is implementation-specific.

                        Example: "example.net/import-controller".

                        The format of this field is DOMAIN "/" PATH, where DOMAIN and PATH are valid Kubernetes
                        names (https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).

                        A controller MUST populate this field when writing status and ensure that entries to status
                        populated with their controller name are removed when they are no longer necessary.
                      maxLength: 253
                      minLength: 1
                      pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*\/[A-Za-z0-9\/\-._~%!$&'()*+,;=:]+$
                      type: string
                  required:
                  - name
                  type: object
                maxItems: 8
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
            required:
            - controllers
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
